@charset "UTF-8";

.maintable{
  width: 100%;
  border: solid #dedede 1px;
  table-layout: fixed;
}

/* 回答はここに書いてね */
table {
  border-collapse: collapse;
}

th {
  color: white;
  background-color: #2244aa;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  border: solid #dedede 1px;
}

td {
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
  padding-top: 10px;
  border: solid #dedede 1px;
  text-align: center;
}

tr:nth-child(even){
  background-color: #ecf1f2;
}

tbody tr:last-child {
  border-top:dashed #000 2px;
}

/* 回答はここに書いてね */
