@charset "UTF-8";

/* 回答はここに書いてね */
.text {
  background-color: #e6f2ff;
  padding: 10px;
  width: 90px;
  margin: auto;
  text-align: center;
}

/* .text.inline-box.q {
  display: inline;
} */

.q {
  display: inline;
}

.inline-box{
  text-align: center;
}

.table-box {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.inner-box{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}


.main-tablebox{
  /* text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative; */
  display: table;
}

/* flex */
.table-box1 {
  padding: 10px;
  background-color: #fff;
}

.q6--around{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* position固定 */
.is-stable{
  position: relative;
}

.position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

/* position可変 */
.is-flexible{
  position: relative;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}








/* 回答はここに書いてね */
